
@model DT102G___Laboration_2.Models.Form

@{
    ViewData["Title"] = "Resultat av svarsformulär";
}

<h3>Resultat</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @ViewData["Age"]
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @ViewBag.Gender
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question3)
        </dd>

        @if (Model.Message != "") // Skriv ut meddelandet om det ej är tomt
        {
            <dt>
                @Html.DisplayNameFor(model => model.Message)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Message)
            </dd>
        }
    </dl>
    <a class="text-center" asp-controller="Form" asp-action="Index">Tillbaka till början</a>
</div>